<html>
<title>Schvach Fantasy Projections</title>



<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">

<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/script2.js" type="text/javascript"></script>






</head>

<body>
<section ng-app="footballApp">
  
  <header>
    <div class="intro">
      <p>Fantasy Football Projections</p>
    </div>
    <div class="appInfo">
    <h1>Week 7</h1>
    <p>Player Projections</p>
	

	<nav id="position-links">
	<ul>
	<li><a href="#quarterbacks">Quarterbacks</a></li>
	<li><a href="#runningbacks">Running Backs</a></li>
	<li><a href="#widerecievers">Wide Receivers</a></li>
	<li><a href="#tightends">Tight Ends</a></li>
	<li><a href="#defense">Defense</a></li>
	</ul>
	</nav>
 
	
    </div>   
  </header>
 
<!--quarterbacks projections--> 
  <section class="myTeam" ng-controller="positionController">
    <div class="positionHeader myTeamHead" id="quarterbacks">
      <h1>Quarterbacks</h1>
      <h2>Projected this week</h2>
    </div>
    <section ng-repeat="player in positionQB">
      <div class="card myPlayer">
        <div class="pos">
          {{player.depthchart}}
        </div>
        <div class="profile">
          <img ng-src="{{player.imageUrl}}">
        </div>
        <div class="playerInfo">
          <h1>{{player.name}}</h1>
          <h2>{{player.team}}</h2>
            <div class="spacer"></div> 
          <p>Projected this week</p>
          <h3>{{player.projected}} pts</h3>
            <div class="spacer"></div>
          <p class="hideDefStatus">{{player.hasStatus}}
          <b class="canPlay">{{player.healthHea}}</b>
          <b class="probPlay">{{player.healthProb}}</b>
          <b class="maybePlay">{{player.healthQue}}</b>
		  <b class="doubtPlay">{{player.healthDou}}</b>
          <b class="noPlay">{{player.healthOut}}</b>
          </p>
        </div>
       </div>
      <!--modal-->
      <section class="overlay">
        <div class="modal" style="background:{{player.tmColorDark}};">
          <div class="modalHeader" style="background:{{player.tmColorLite}};">
            {{player.depthchart}}
            <i class="close">x</i>
          </div>
          <div class="profile-container">
          <div class="profile">
            <img id="playerImage" ng-src="{{player.imageUrl}}">
          </div>
          <ul class="playerModal">
           <li><h1>{{player.name}}</h1></li>
           <li><h2>{{player.team}}</h2>
           <h1>{{player.projected}} pts</h1>
           </li>
           <li class="canPlay">{{player.healthHea}}</li>
           <li class="probPlay">{{player.healthProb}}</li>
           <li class="maybePlay">{{player.healthQue}}</li>
		   <li class="doubtPlay">{{player.healthDou}}</li>
           <li class="noPlay">{{player.healthOut}}</li>
           </ul>
          

           <span class="profile-team"><img id="teamLogo" src="{{player.logoUrl}}"></span></div>
           <h3>Previous weeks points (Average: {{player.avg_fp2}} ppg)</h3>
          
            <div class="week-list pointsList">
			<div>Week 1: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week01}}</span></div>
			<div>Week 2: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week02}}</span></div>
			<div>Week 3: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week03}}</span></div>
			<div>Week 4: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week04}}</span></div>
			<div>Week 5: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week05}}</span></div>
			<div>Week 6: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week06}}</span></div>
			<div>Week 7: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week07}}</span></div>
			<div>Week 8: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week08}}</span></div>
			<div>Week 9: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week09}}</span></div>
			<div>Week 10: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week10}}</span></div>
			<div>Week 11: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week11}}</span></div>
			<div>Week 12: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week12}}</span></div>
			<div>Week 13: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week13}}</span></div>
			<div>Week 14: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week14}}</span></div>
			<div>Week 15: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week15}}</span></div>
			<div>Week 16: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week16}}</span></div>
			<div>Week 17: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week17}}</span></div>
			</div>
        </div>  
        
		<div class="player-news" style="background-color:rgba(0, 0, 0, 0.2);">
		<div>Next opponent: {{player.home_away}}{{player.opponent}}</div>
		<ul>
		<li>{{player.team}} Passing Offense Rank: {{player.team_rank}}</li>
		<li>{{player.opponent}} Passing Defense Rank: {{player.opp_rank}}</li>
		<li>{{player.opponent}} Average Fantasy Points Allowed to QB Rank: {{player.opp_rank_allowed_fp2}} ({{player.opp_avg_allowed_fp2}} ppg)</li>
		</ul>
		<br>
		<h5>{{player.headlineNews}}</h5>
		<p>{{player.report}}</p><br>
		<p><strong style="color:red;font-weight: bold;">Analysis:</strong>  {{player.analysis}}</p><br><p id="timestamp">{{player.timestamp}}</p>

	<!-- CHART GOES HERE 
	
        <canvas id="myChart" width="400" height="200"></canvas>
<script>
   linechart()
</script>
	
	
	end chart-->

          
        </div>
    </section>
      <!--end modal & player info-->
  </section><!--end ng repeat & my team-->
    <!--score comparison-->
    <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="startEm">
        <h2>Top 5 Start 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>Aaron Rodgers</li>
		<li>Matthew Stafford</li>
		<li>Jared Goff</li>
		<li>Josh Allen</li>
		<li>Gardner Minshew</li>
		</ul></h1>
      </div> 
     </section>
	 
	 <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="sitEm">
        <h2>Top 5 Sit 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>Mitchell Trubisky</li>
		<li>Case Keenum</li>
		<li>Ryan Tannehill</li>
		<li>Daniel Jones</li>
		<li>Andy Dalton</li>
		</ul></h1>
      </div> 
     </section>
    <div class="clearfix"></div>
  </section>
  
  
 
  <!--running back projections-->
  <section class="myTeam" ng-controller="positionController">
    <div class="positionHeader myTeamHead" id="runningbacks">
      <h1>Running Backs</h1>
      <h2>projected this week</h2>
    </div>
    <section ng-repeat="player in positionRB">
    <div class="card">
      <div class="pos">
        {{player.depthchart}}
      </div>
      <div class="profile">
        <img ng-src="{{player.imageUrl}}">
      </div>
        <div class="playerInfo">
          <h1>{{player.name}}</h1>
          <h2>{{player.team}}</h2>
          <div class="spacer"></div> 
          <p>Projected This week</p>
          <h3>{{player.projected}} pts</h3>
          <div class="spacer"></div>
          <p class="hideDefStatus">{{player.hasStatus}}
          <b class="canPlay">{{player.healthHea}}</b>
          <b class="probPlay">{{player.healthProb}}</b>
          <b class="maybePlay">{{player.healthQue}}</b>
		  <b class="doubtPlay">{{player.healthDou}}</b>
          <b class="noPlay">{{player.healthOut}}</b>
          </p>
        </div> 
    </div>
    <!--modal-->
    <section class="overlay">
      <div class="modal" style="background:{{player.tmColorDark}};">
        <div class="modalHeader" style="background:{{player.tmColorLite}};">
          {{player.depthchart}}
          <i class="close">x</i>
        </div>
		<div class="profile-container">
        <div class="profile">
          <img id="playerImage" ng-src="{{player.imageUrl}}">
        </div>
        <ul class="playerModal">
          <li><h1>{{player.name}}</h1></li>
          <li><h2>{{player.team}}</h2>
          <h1>{{player.projected}} pts</h1>
          </li>
          <li class="canPlay">{{player.healthHea}}</li>
          <li class="probPlay">{{player.healthProb}}</li>
          <li class="maybePlay">{{player.healthQue}}</li>
		  <li class="doubtPlay">{{player.healthDou}}</li>
          <li class="noPlay">{{player.healthOut}}</li>
        </ul>
		
		<span class="profile-team"><img id="teamLogo" src="{{player.logoUrl}}"></span></div>
        <h3>Previous weeks points (Average: {{player.avg_fp2}} ppg)</h3>
         
            <div class="week-list pointsList">
			<div>Week 1: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week01}}</span></div>
			<div>Week 2: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week02}}</span></div>
			<div>Week 3: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week03}}</span></div>
			<div>Week 4: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week04}}</span></div>
			<div>Week 5: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week05}}</span></div>
			<div>Week 6: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week06}}</span></div>
			<div>Week 7: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week07}}</span></div>
			<div>Week 8: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week08}}</span></div>
			<div>Week 9: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week09}}</span></div>
			<div>Week 10: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week10}}</span></div>
			<div>Week 11: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week11}}</span></div>
			<div>Week 12: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week12}}</span></div>
			<div>Week 13: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week13}}</span></div>
			<div>Week 14: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week14}}</span></div>
			<div>Week 15: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week15}}</span></div>
			<div>Week 16: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week16}}</span></div>
			<div>Week 17: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week17}}</span></div>
			</div>
      </div>  
	  <div class="player-news">
	  <div>Next opponent: {{player.home_away}}{{player.opponent}}</div>
	  <ul>
	  <li>{{player.team}} Rushing Offense Rank: {{player.team_rank}}</li>
	  <li>{{player.opponent}} Rushing Defense Rank: {{player.opp_rank}}</li>
	  <li>{{player.opponent}} Average Fantasy Points Allowed to RB Rank: {{player.opp_rank_allowed_fp2}} ({{player.opp_avg_allowed_fp2}} ppg)</li>
	  </ul>
	  <br>
	  <h5>{{player.headlineNews}}</h5>
	  <p>{{player.report}}</p><br>
		<p><strong style="color:red;font-weight: bold;">Analysis:</strong>  {{player.analysis}}</p><br><p id="timestamp">{{player.timestamp}}</p>
		</div>
    </section>
      <!--end modal-->
    </section><!--end ng-repeat-->
    <!--score comparison-->
    <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="startEm">
        <h2>Top 5 Start 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
	 
	 <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="sitEm">
        <h2>Top 5 Sit 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
    <div class="clearfix"></div>
  </section>
  
  
  
    <!--wide receivers projections-->
  <section class="myTeam" ng-controller="positionController">
    <div class="positionHeader myTeamHead" id="widerecievers">
      <h1>Wide Receivers</h1>
      <h2>projected this week</h2>
    </div>
    <section ng-repeat="player in positionWR">
    <div class="card">
      <div class="pos">
        {{player.depthchart}}
      </div>
      <div class="profile">
        <img ng-src="{{player.imageUrl}}">
      </div>
        <div class="playerInfo">
          <h1>{{player.name}}</h1>
          <h2>{{player.team}}</h2>
          <div class="spacer"></div> 
          <p>Projected This week</p>
          <h3>{{player.projected}} pts</h3>
          <div class="spacer"></div>
          <p class="hideDefStatus">{{player.hasStatus}}
          <b class="canPlay">{{player.healthHea}}</b>
          <b class="probPlay">{{player.healthProb}}</b>
          <b class="maybePlay">{{player.healthQue}}</b>
		  <b class="doubtPlay">{{player.healthDou}}</b>
          <b class="noPlay">{{player.healthOut}}</b>
          </p>
        </div> 
    </div>
    <!--modal-->
    <section class="overlay">
      <div class="modal" style="background:{{player.tmColorDark}};">
        <div class="modalHeader" style="background:{{player.tmColorLite}};">
          {{player.depthchart}}
          <i class="close">x</i>
        </div>
		<div class="profile-container">
        <div class="profile">
          <img id="playerImage" ng-src="{{player.imageUrl}}">
        </div>
        <ul class="playerModal">
          <li><h1>{{player.name}}</h1></li>
          <li><h2>{{player.team}}</h2>
          <h1>{{player.projected}} pts</h1>
          </li>
          <li class="canPlay">{{player.healthHea}}</li>
          <li class="probPlay">{{player.healthProb}}</li>
          <li class="maybePlay">{{player.healthQue}}</li>
		  <li class="doubtPlay">{{player.healthDou}}</li>
          <li class="noPlay">{{player.healthOut}}</li>
        </ul>
		
		<span class="profile-team"><img id="teamLogo" src="{{player.logoUrl}}"></span></div>
        <h3>Previous weeks points (Average: {{player.avg_fp2}} ppg)</h3>
         
            <div class="week-list pointsList">
			<div>Week 1: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week01}}</span></div>
			<div>Week 2: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week02}}</span></div>
			<div>Week 3: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week03}}</span></div>
			<div>Week 4: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week04}}</span></div>
			<div>Week 5: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week05}}</span></div>
			<div>Week 6: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week06}}</span></div>
			<div>Week 7: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week07}}</span></div>
			<div>Week 8: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week08}}</span></div>
			<div>Week 9: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week09}}</span></div>
			<div>Week 10: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week10}}</span></div>
			<div>Week 11: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week11}}</span></div>
			<div>Week 12: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week12}}</span></div>
			<div>Week 13: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week13}}</span></div>
			<div>Week 14: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week14}}</span></div>
			<div>Week 15: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week15}}</span></div>
			<div>Week 16: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week16}}</span></div>
			<div>Week 17: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week17}}</span></div>
			</div>
      </div>  
	  <div class="player-news">
	  <div>Next opponent: {{player.home_away}}{{player.opponent}}</div>
	  <ul>
	  <li>{{player.team}} Passing Offense Rank: {{player.team_rank}}</li>
	  <li>{{player.opponent}} Passing Defense Rank: {{player.opp_rank}}</li>
	  <li>{{player.opponent}} Average Fantasy Points Allowed to WR Rank: {{player.opp_rank_allowed_fp2}} ({{player.opp_avg_allowed_fp2}} ppg)</li>
	  </ul>	  
	  <br>
	  <h5>{{player.headlineNews}}</h5>
	  <p>{{player.report}}</p><br>
		<p><strong style="color:red;font-weight: bold;">Analysis:</strong>  {{player.analysis}}</p><br><p id="timestamp">{{player.timestamp}}</p>
		</div>
    </section>
      <!--end modal-->
    </section><!--end ng-repeat-->
    <!--score comparison-->
    <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="startEm">
        <h2>Top 5 Start 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
	 
	 <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="sitEm">
        <h2>Top 5 Sit 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
    <div class="clearfix"></div>
  </section>
  
 

    <!--tight ends projections-->
  <section class="myTeam" ng-controller="positionController">
    <div class="positionHeader myTeamHead" id="tightends">
      <h1>Tight Ends</h1>
      <h2>projected this week</h2>
    </div>
    <section ng-repeat="player in positionTE">
    <div class="card">
      <div class="pos">
        {{player.depthchart}}
      </div>
      <div class="profile">
        <img ng-src="{{player.imageUrl}}">
      </div>
        <div class="playerInfo">
          <h1>{{player.name}}</h1>
          <h2>{{player.team}}</h2>
          <div class="spacer"></div> 
          <p>Projected This week</p>
          <h3>{{player.projected}} pts</h3>
          <div class="spacer"></div>
          <p class="hideDefStatus">{{player.hasStatus}}
          <b class="canPlay">{{player.healthHea}}</b>
          <b class="probPlay">{{player.healthProb}}</b>
          <b class="maybePlay">{{player.healthQue}}</b>
		  <b class="doubtPlay">{{player.healthDou}}</b>
          <b class="noPlay">{{player.healthOut}}</b>
          </p>
        </div> 
    </div>
    <!--modal-->
    <section class="overlay">
      <div class="modal" style="background:{{player.tmColorDark}};">
        <div class="modalHeader" style="background:{{player.tmColorLite}};">
          {{player.depthchart}}
          <i class="close">x</i>
        </div>
		<div class="profile-container">
        <div class="profile">
          <img id="playerImage" ng-src="{{player.imageUrl}}">
        </div>
        <ul class="playerModal">
          <li><h1>{{player.name}}</h1></li>
          <li><h2>{{player.team}}</h2>
          <h1>{{player.projected}} pts</h1>
          </li>
          <li class="canPlay">{{player.healthHea}}</li>
          <li class="probPlay">{{player.healthProb}}</li>
          <li class="maybePlay">{{player.healthQue}}</li>
		  <li class="doubtPlay">{{player.healthDou}}</li>
          <li class="noPlay">{{player.healthOut}}</li>
        </ul>
		
		<span class="profile-team"><img id="teamLogo" src="{{player.logoUrl}}"></span></div>
        <h3>Previous weeks points (Average: {{player.avg_fp2}} ppg)</h3>
         
            <div class="week-list pointsList">
			<div>Week 1: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week01}}</span></div>
			<div>Week 2: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week02}}</span></div>
			<div>Week 3: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week03}}</span></div>
			<div>Week 4: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week04}}</span></div>
			<div>Week 5: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week05}}</span></div>
			<div>Week 6: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week06}}</span></div>
			<div>Week 7: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week07}}</span></div>
			<div>Week 8: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week08}}</span></div>
			<div>Week 9: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week09}}</span></div>
			<div>Week 10: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week10}}</span></div>
			<div>Week 11: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week11}}</span></div>
			<div>Week 12: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week12}}</span></div>
			<div>Week 13: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week13}}</span></div>
			<div>Week 14: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week14}}</span></div>
			<div>Week 15: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week15}}</span></div>
			<div>Week 16: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week16}}</span></div>
			<div>Week 17: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week17}}</span></div>
			</div>
      </div>  
	  <div class="player-news">
	  <div>Next opponent: {{player.home_away}}{{player.opponent}}</div>
	  <ul>
	  <li>{{player.team}} Passing Offense Rank: {{player.team_rank}}</li>
	  <li>{{player.opponent}} Passing Defense Rank: {{player.opp_rank}}</li>
	  <li>{{player.opponent}} Average Fantasy Points Allowed to TE Rank: {{player.opp_rank_allowed_fp2}} ({{player.opp_avg_allowed_fp2}} ppg)</li>
	  </ul>	  
	  <br>
	  <h5>{{player.headlineNews}}</h5>
	  <p>{{player.report}}</p><br>
		<p><strong style="color:red;font-weight: bold;">Analysis:</strong>  {{player.analysis}}</p><br><p id="timestamp">{{player.timestamp}}</p>
		</div>
    </section>
      <!--end modal-->
    </section><!--end ng-repeat-->
    <!--score comparison-->
    <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="startEm">
        <h2>Top 5 Start 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
	 
	 <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="sitEm">
        <h2>Top 5 Sit 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
    <div class="clearfix"></div>
  </section>
  
  

    <!--defense projections-->
  <section class="myTeam" ng-controller="positionController">
    <div class="positionHeader myTeamHead" id="defense">
      <h1>Defense</h1>
      <h2>projected this week</h2>
    </div>
    <section ng-repeat="player in positionDST">
    <div class="card">
      <div class="pos">
        {{player.depthchart}}
      </div>
      <div class="profile">
        <img id="dst" ng-src="{{player.imageUrl}}">
      </div>
        <div class="playerInfo">
          <h1>{{player.name}}</h1>
          <h2>{{player.team}}</h2>
          <div class="spacer"></div> 
          <p>Projected This week</p>
          <h3>{{player.projected}} pts</h3>
          <div class="spacer"></div>
          <p class="hideDefStatus">{{player.hasStatus}}
          <b class="canPlay">{{player.healthHea}}</b>
          <b class="probPlay">{{player.healthProb}}</b>
          <b class="maybePlay">{{player.healthQue}}</b>
		  <b class="doubtPlay">{{player.healthDou}}</b>
          <b class="noPlay">{{player.healthOut}}</b>
          </p>
        </div> 
    </div>
    <!--modal-->
    <section class="overlay">
      <div class="modal" style="background:{{player.tmColorDark}};">
        <div class="modalHeader" style="background:{{player.tmColorLite}};">
          {{player.depthchart}}
          <i class="close">x</i>
        </div>
		<div class="profile-container">
        <div class="profile">
          <img id="playerImageDST" ng-src="{{player.imageUrl}}">
        </div>
        <ul class="playerModal">
          <li><h1>{{player.name}}</h1></li>
          <li><h2>{{player.team}}</h2>
          <h1>{{player.projected}} pts</h1>
          </li>
          <li class="canPlay">{{player.healthHea}}</li>
          <li class="probPlay">{{player.healthProb}}</li>
          <li class="maybePlay">{{player.healthDou}}</li>
          <li class="noPlay">{{player.healthOut}}</li>
        </ul>
		
		<span class="profile-team"><img id="teamLogo" src="{{player.logoUrl}}"></span></div>
        <h3>Previous weeks points</h3>
          
            <div class="week-list pointsList">
			<div>Week 1: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week01}}</span></div>
			<div>Week 2: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week02}}</span></div>
			<div>Week 3: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week03}}</span></div>
			<div>Week 4: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week04}}</span></div>
			<div>Week 5: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week05}}</span></div>
			<div>Week 6: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week06}}</span></div>
			<div>Week 7: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week07}}</span></div>
			<div>Week 8: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week08}}</span></div>
			<div>Week 9: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week09}}</span></div>
			<div>Week 10: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week10}}</span></div>
			<div>Week 11: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week11}}</span></div>
			<div>Week 12: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week12}}</span></div>
			<div>Week 13: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week13}}</span></div>
			<div>Week 14: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week14}}</span></div>
			<div>Week 15: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week15}}</span></div>
			<div>Week 16: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week16}}</span></div>
			<div>Week 17: <span style="color:{{player.tmTextLite}}; font-weight:750;">{{player.week17}}</span></div>
			</div>
      </div>  
	  <div class="player-news">
	  <div>Next opponent: {{player.home_away}}{{player.opponent}}</div>
	  <ul>
	  <li>{{player.team}} Defense Points per Game Allowed Rank: {{player.team_rank_allowed_pts}} ({{player.team_avg_allowed_pts}} ppg)</li>
	  <li>{{player.opponent}} Offense Points per Game Rank: {{player.opp_rank_pts}} ({{player.opp_avg_pts}} ppg)</li>
	  <li>{{player.team}} Takeways per Game Rank: {{player.team_ranked_takeaways}} ({{player.team_avg_takeaways}} per game)</li>
	  <li>{{player.opponent}} Giveaways per Game Rank: {{player.opp_ranked_giveaways}} ({{player.opp_avg_giveaways}} per game)</li>
	  </ul>	  	  
	  
	  <br>
	  <h5>{{player.headlineNews}}</h5>
	  <p>{{player.report}}</p><br>
		<p><strong style="color:red;font-weight: bold;">Analysis:</strong>  {{player.analysis}}</p><br><p id="timestamp">{{player.timestamp}}</p>
		</div>
    </section>
      <!--end modal-->
    </section><!--end ng-repeat-->
    <!--score comparison-->
    <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="startEm">
        <h2>Top 5 Start 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
	 
	 <section class="compareMe compare">
      <div class="result">
        <!--win/loose message in css :before of .win or .lose-->
      </div>
      <div class="sitEm">
        <h2>Top 5 Sit 'em</h2>
        <h1 class="you">
		<ul><br>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		<li>---- -----</li>
		</ul></h1>
      </div> 
     </section>
    <div class="clearfix"></div>
  </section>

  

  
<!--end app-->
</section>




</body>

</html>

